# Python cache files
**/__pycache__/
# .mypy_cache/

# Development folders
# archived/
# backups/
# tests/

# Log files
# logs/

# Build outputs
# build/
# dist/

# Misc


# have to comment out so git actually pushes them to remote.